.bdy {
  background-color: rgb(255, 255, 255);

  justify-content: space-evenly;
}
.c4 {
  height: 200px;
}
.v4 {
  height: 200px;
}
.b4 {
  height: 200px;
}
.project {
  text-align: center;
  padding: 3rem;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  border: 2rem;
}
.hc1 {
  height: 200px;
  width: 260px;
}
.bd1 {
  height: 200px;
}
.vt1 {
  height: 200px;
}
.btn {
  color: rgb(14, 11, 11);
}
