.body {
  background-image: url(https://i.imgur.com/A5Qa1Ng.jpg);
  background-size: cover;
  height: 200px;
  text-align: right;

  color: rgb(235, 198, 198);
}

.img {
  height: 200px;
  width: 200px;
  border-radius: 50%;

  border-style: solid;
  border-color: rgb(255, 255, 255) s;
  margin-top: 3rem;
}

.abme {
  color: rgb(1, 0, 0);
  padding: 3rem;
}
.name {
  text-align: center;
  margin: 5rem;
}
